
.navbar-brand {
    color: white;
}

.nav-link {
    color: aquamarine;
}

footer {
    display: flex;
    justify-content: center;
    color: snow;
    background-color:grey;
    width:100%;
    position:absolute;
    bottom: 0;
    left:0;
}